    ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.abgne_tab {
        float: left;
		/*clear: left;*/
		width: 200px;
		margin: 10px 0;
        position: relative;
        
	}
	ul.tabs {
		width: 100%;
		height: 30px;
		border-bottom: 1px solid #999;
		border-left: 1px solid #999;
	}
	ul.tabs li {
		/*float: left;*/
		height: 30px;
		line-height: 30px;
		/*overflow: hidden;*/
		position: relative;
		/*margin-bottom: -1px;*/	/* 讓 li 往下移來遮住 ul 的部份 border-bottom */
		border: 1px solid #999;
		/*border-left: none;*/
		background: #e1e1e1;
	}
	ul.tabs li a {
		display: block;
		padding: 0 20px;
		color: #000;
		border: 1px solid #fff;
		text-decoration: none;
	}
	ul.tabs li a:hover {
		background: #ccc;
	}
	ul.tabs li.active  {
		background: #fff;
		border-bottom: 1px solid #fff;
	}
	ul.tabs li.active a:hover {
		background: #fff;
	}
	div.tab_container {
		/*clear: left;*/
		width: 80%;
        height: 300px;
		border: 1px solid #999;
        position: relative;
        left: 20%;
        top: -30%;
		/*border-top: none;*/
		background: #fff;
	}
	div.tab_container .tab_content {
		padding: 20px;
	}
	div.tab_container .tab_content h2 {
		margin: 0 0 20px;
	}
