.ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    /*
    height:100%;
    */
    background-color:#000000;
    opacity: 1;
}
.ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index:10000;
    position: fixed;
/*
    position: absolute;
*/
    width: 50%; /* Default */
    width: 200px;
    height: 200px;

    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 2px 2px 5px #fff;
}
.ng-modal-dialog-content {
    padding:10px;
    text-align: left;
}
.ng-modal-close {
    position: absolute;
    top: 53px;
    right: 75px;
    padding: 5px;
    cursor: pointer;
    font-size: 520%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.top-bar .name span input{
    width: 65%;
    font-size: 100%;
    display: inline-block;
    padding: 0 0px;
/*
    background-color:#111111;
*/
}

.top-bar .name h1 span{
    font-weight: bold;
    color: #f08d32;
    width: 100%;
    display: inline-block;
    padding: 0 10px;
    font-size: 200%;
/*
    background-color:#111111;
*/
}
